@import "_config.scss";
@import "_menu.scss";
@import "mobile";

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

////// Headings //////

h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%  
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4em 4em;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh; 
        }
    }
}



////// Menu Overlay ///////
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    // opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding, 
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    ////// nav side /////
    &-nav {
        margin: 0;
        padding: 0;
        background: rgba(darken($primary-color, 5), 0.9);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;
    
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    //// branding side ////
    &-branding {
        background: rgba($primary-color, 0.9);
        transform: translate3d(0, 100%, 0);
        @include easeOut; 
        &.show {
        transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/portrait4.jpg');
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            border: solid 3px #000;
            opacity: 1;
            z-index: 5;
        }

    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        }

        &.current > a {
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 400;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}


// Dealy each nav item slide by 0.1s
// for (let = i; i <= 4;i ++)
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}



////// MEDIA QUERIES //////
// Wide screen
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets 
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    nav ul.menu-nav, 
    nav div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
        opacity: 1;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 65vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
        background: rgba(darken($primary-color, 5), 1);
        
    }

    .menu-branding {
        height: 35vh;
        transform: translate3d(100%, 0, 0);
        background: rgba($primary-color, 1);
    
        .portrait {
            background: url('../img/portrait3.jpg');
            background-position: center;
            background-size: 100%;
            width: 150px;
            height: 150px;
        }
    }
}

// SmartPhones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }
}



////// About Me /////////
.margin-top .lg-heading {
    margin-top: 0vh !important;
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bioimage bio bio'
    'app1 app2 app3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        width: 250px;
        //height: 250px;
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: #000 3px solid; 
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .app-1 {
        grid-area: app1;
    } 
    
    .app-2 {
        grid-area: app2;
    }
    
    .app-3 {
        grid-area: app3;
    }
    
    .app {
        background: lighten($primary-color, 5);
        padding: 1rem;
        box-sizing: border-box;
        border-bottom: $secondary-color 5px solid;

        h3 {
            color: $secondary-color;
            font-weight: 600;
        }

        span {
            width: 100%;
            display: inline-block;
            position: relative;
            text-align: center;

            .project-btn {
                display: inline-block;
                position: relative;
                box-sizing: border-box;
                padding: 0.5rem 1rem;
                margin: 0 auto;
                border: $secondary-color 2px solid;
                font-weight: 600;
                background: #2b2b2b;
                //border-radius: 5px;
            
                .project-link {
                    color:  $secondary-color;
                }
            }

            .project-btn:hover {
                border: #000 2px solid;
                background:  $secondary-color;

                .project-link {
                    color: #000;
                }
            }

        
        }
    }
}



#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}



